/* ----------------------------- general classes ----------------------------- */

/*  main-container
    title
    subtitle
    select-btn
    muted
    space-btwn
*/

/* ----------------------------- general classes! ----------------------------- */

/* ----------------------------- general ----------------------------- */

:root {
  --golden: #FFE9BD;
  --muted: #99A1AA;
  --dark: #20232A
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900;1000&display=swap');
@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Semibold'), local('Gilroy-Semibold'),
    url('Gilroy-Semibold.woff2') format('woff2'),
    url('Gilroy-Semibold.woff') format('woff'),
    url('Gilroy-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }
html, body{
  font-family: 'Montserrat', sans-serif;
  color: #ffe9bd;
  background-color: var(--dark);
  overflow-x: hidden;
}
img{
  object-fit: cover;
  object-position: center;
}
section h2 {
  font-size: 36px;
  font-weight: 400px;
  margin-bottom: 60px;
}
main{
  position: relative;
  z-index: 1;
  min-height: 720px;
}

.main-container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 20px;
  z-index: 0;
}

.title {
  color: #ffe9bd;
  font-size: 36px;
  text-align: center;
}
.subtitle {
  color: #ffe9bd;
  font-size: 14px;
}
.unselect-btn {
  border: 1px solid var(--golden);
  background-color: var(--dark);
  color: var(--golden);
  outline: none !important;

  padding: 8px 35px;
  font-size: 14px;
}
.unselect-btn:hover {
  color: var(--dark);
  background-color: var(--golden);
}
.select-btn{
  background-color: var(--golden);
  color: var(--dark) !important;
  outline: none !important;
  border: 1px solid var(--golden);

  padding: 8px 35px;
  font-size: 14px;
  background: rgba(255,233,189, 1) !important;

  text-decoration:none;
  font-weight: 500;
}
.select-btn:hover{
  border: 1px solid var(--golden) !important;
  background-color: rgba(0,0,0, 0) !important;
  color: var(--golden) !important;
}
.muted {
  color: var(--muted);
  font-size: 12px;
}
.space-btwn {
  display: flex;
  justify-content: space-between;
}
ul{
  list-style-type: none;
}
.modal{
  max-width: 700px;
  height: 700px;
  padding: 0px;
  border-radius: 0px;
  background-color: rgba(0,0,0, 0);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}
.close-modal {
  top: 0px !important;
  right: 0px !important;
  background-image: url('./icons/Exclude.svg') !important;
}

.callback{
  position: relative;
  top: 40px;
  height: 600px;
}
.callback-inputs{
  width: 600px;
  margin-bottom: 90px;
}
.callback-inputs__item{
  width: 240px;
}
/* ----------- docs-link ----------- */

.docs-link {
  margin: 150px 0;
  text-align: center;
}
.docs-link__subtitle {
  text-align: center;
}
.docs-link__link {
  display: inline-block;
  margin: 50px 0;
}

/* ----------- docs-link! ----------- */

/* ----------- header ----------- */

.header {
  height: 60px;
  margin: 65px auto 0 auto;
  color: #ffe9bd;
  justify-content: center;
  position: relative;
  z-index: 1;
}
.header__item_active {
  color: white !important;
}
.header__logo {
  margin-left: 20px;
}
.header__logo-image{
  position: relative;
  top: 5px;
  height: 50px;
}
.header__links{
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
.header__item {
  margin-top: 20px;
}
.header__item:hover a{
  color: white;
}
.header__item a{
  color: var(--golden);
  text-decoration: none;
}
/* ----------- header! ----------- */

/* ----------- footer ----------- */

.footer {
  background-color: #191B21;
  z-index: 0;
  padding: 50px;
  color: white;
  text-align: center;
}
.footer-links__items {
  margin: 0;
}
.footer-links__img {
  width: 150px;
}
.footer-links__item-sublogo {
  margin-top: 10px;
}



/* ----------- filter ----------- */
.filter-wrapper{
  margin-bottom: 160px;
}
.filter-body{
  display: flex;
  justify-content: space-evenly;
  padding: 37px 0px;
  border: 1px solid var(--golden);
}
input[type=checkbox] {
  display:none;
}
 input[type=checkbox]:checked + label{
  background-color: var(--golden);
  color: var(--dark);
}

.filter__middle {
  position: relative;
  z-index: 1;
  top: -1px;
}

.filter__slider {
  position: relative;
  z-index: 1;
  height: 1px;
  margin: 0 15px;
}
.filter__track {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 1px;
  bottom: 0;
  border-radius: 5px;
  background-color: #FFE9BD;
}
.filter__range {
  position: absolute;
  z-index: 2;
  left: 0%;
  right: 0%;
  top: -1px;
  bottom: 0;
  border-radius: 5px;
  background-color: #646C75;
}
.filter__button-radius .filter__btn span{
  font-size: 8px;
}
.filter__square-end{
  width: 40px !important;
}

.filter__btn-title{
  -moz-user-select: -moz-none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.filter__thumb {
  position: absolute;
  z-index: 3;
  width: 12px;
  height: 12px;
  background-color: #FFE9BD;
  border-radius: 50%;
  transition: box-shadow .3s ease-in-out;
}
.filter__thumb-left {
  left: 0%;
  transform: translate(-6px, -6px);
}
.filter__thumb-right {
  right: 0%;
  transform: translate(6px, -6px);
}

input[type=range] {
  position: absolute;
  pointer-events: none;
  -webkit-appearance: none;
  z-index: 2;
  height: 10px;
  width: 100%;
  opacity: 0;
}
input[type=range]::-webkit-slider-thumb {
  pointer-events: all;
  width: 30px;
  height: 30px;
  border-radius: 0;
  border: 0 none;
  background-color: red;
  -webkit-appearance: none;
}
input[type=range]::-moz-range-thumb {
  pointer-events: all;
  width: 30px;
  height: 30px;
  border-radius: 0;
  border: 0 none;
  background-color: red;
  -moz-appearance: none;
}

.irs {
  width: 90%;
  margin-left: 5%;
}
.irs-from, .irs-to,
.irs-min, .irs-max,
.irs-single{
  display: none;
}
.irs--flat .irs-line {
  top: -1px;
  height: 1px;
  background-color: var(--golden)
}
.irs--flat .irs-bar {
  top: -1px;
  height: 1px;
  background-color: var(--muted);
}
.irs--flat .irs-handle {
  top: -6px;
  width: 12px;
  height: 12px;
  background-color: var(--golden);
  border-radius: 50%;
}
.irs--flat .irs-handle > i:first-child {
  display: none;
}

#filter{
  max-height: 115px;
}
.filter__range-floor{
  display: none;
}
.filter__value-start, .filter__value-end{
  background-color: rgba(0, 0, 0, 0);
  outline: none;
  border: none;
  color: #FFE9BD;
  width: 70px;
}
.filter-body .filter__btn{
  outline: none !important;
  background: rgba(0,0,0,0);
  border: 1px solid var(--golden);
  color: var(--golden);

  font-size: 12px;
  padding: 8px 16px;
  cursor: pointer;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.filter-body .filter__number-rooms{
  padding: 0;
  width: 32px;
}

.filter__btn-for-mobile{
  display: none;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
.filter__mobile-button{
  display: none;
}



.filter-list{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.filter-list__left,
.filter-list__right,
.filter-list__items{
  display: flex;
}

.filter-list__left-title,
.filter-list__right-title{
  margin-right: 10px;
}
.filter-list__item{
  display: flex;
  margin-right: 5px;
  border: 1px solid var(--golden);
  padding: 1px 10px;
}

.filter-list__item span{
  display: flex;
}
.filter-list__item span:after{
  content: '';
  display: flex;
  margin: auto 0 auto 5px;
  width: 14px;
  height: 14px;
  background-image: url(../icons/Exclude.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
.filter-list__item span:after{
  cursor: pointer;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 23px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0, 0);
  border: 1px solid var(--golden);
  -webkit-transition: .4s;
  transition: .4s;
}

.switch-slider:before {
  position: absolute;
  content: "";
  height: 21px;
  width: 21px;
  left: 0px;
  bottom: 0px;
  background-color: var(--golden);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .switch-slider {
  background-color: rgba(0,0,0, 0);
}

input:focus + .switch-slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .switch-slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

/* Rounded sliders */
.switch-slider.round {
  border-radius: 34px;
}

.switch-slider.round:before {
  border-radius: 50%;
}
/* ----------- filter! ----------- */

/* ----------- breadcrumbs ----------- */

.breadcrumbs {
  font-size: 12px;
  display: flex;
}
.breadcrumbs__list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
.breadcrumb__item {
  text-decoration: none;
  color: var(--muted);
}
.breadcrumb__item:hover {
  color: var(--golden);
  opacity: 0.7;
}
.breadcrumb__item::after {
  content: "\00A0/\00A0";
}
.breadcrumb__item_active {
  color: var(--golden);
}

/* ----------- breadcrumbs! ----------- */

/* ----------- slider ----------- */

.slick__nav {
  max-width: 300px;
  margin: 0 auto;
}

.slick-dots {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  position: relative;
  width: 80vw;
  top: 40px;
}

.slick-dots button {
  border: none;
  height: 4px;
  width: 4px;
  background: #FFE9BD;
  outline: none;
  cursor: pointer;
  margin: 0 6px;
  font-size: 0px;
  transition: width .2s linear;
  opacity: .25;
}

.slick-active {
  text-align: center;
}


.slick-dots .slick-active button{
  width: 25px;
  opacity: 1;
}

/* ----------- slider! ----------- */
.header__item-like_mobile{
  display: none;
}
.header__logo_mobile{
  display: none;
}
@media (max-width: 767px){
  .header_active{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0px;
    background-color: var(--dark);
  }
  .footer_active{
    position: fixed;
    width: 100%;
    bottom: 0;
  }
  .breadcrumbs {
    display: none;
  }
  .select-btn {
    width: 90%;
  }
  .select-flats__title{
    margin-top: 80px;
  }

  .filter-body{
    display: none;
  }
  .filter__btn-for-mobile{
    display: flex;
  }
  .filter-wrapper {
    margin-bottom: 60px;
    overflow: auto;
  }

  .filter__btn-for-mobile_active{
    display: none;
  }
  .filter-wrapper__mobile-version{
    position: fixed;
    top: 60px;
    left: 0;
    width: 100vw;
    height: 105vh;
    background-color: var(--dark);
    z-index: 51;
  }

  .filter-body__mobile_active{
    display: grid;
    grid-template-columns: repeat(2, minmax(50%, auto));
    gap: 20px;
    border: none;
    width: 90%;
    margin: 0 auto;
  }
  .filter-body__mobile_active .filter__btn {
    width: 100%;
    padding: 8px 16px;
  }
  .filter-body__mobile_active .filter__btn{
    font-size: 14px;
  }
  .filter-body__mobile_active .filter__button-radius{
    grid-column: 1/-1;
  }

  .filter-body__mobile_active::before{
    content: 'Тип';
    grid-column: 1/-1;
    position: relative;
    top: 15px;
  }
  .filter-body__mobile_active .filter__square-price::before{
    content: 'Цена';
    grid-column: 1/-1;
    position: relative;
    top: -5px;
    display: block;
    margin-top: 60px;
  }
  .filter-body__mobile_active .filter__range-square::before{
    content: 'Площадь';
    grid-column: 1/-1;
    position: relative;
    top: -5px;
    display: block;
    margin-top: 60px;
  }
  .filter-body__mobile_active .filter__range-floor{
    display: block;
  }
  .filter-body__mobile_active .filter__range-floor .filter__btn{
    display: flex;
    justify-content: space-between;
  }
  .filter-body__mobile_active .filter__range-floor::before{
    content: 'Этаж';
    display: block;
    margin-top: 60px;
  }
  .filter-body__mobile_active .filter__range-floor::after{
    content: 'Жилой комплекс';
    display: block;
    margin-top: 60px;
  }
  .filter__show-all{
    display: block;
    grid-column: 1/-1;
    margin-top: 60px;
    margin-bottom: 200px;
  }
  .filter__mobile-button{
    display: block;
  }
  .main-news__row .slick-track{
    left: 0px;
  }
  .footer-links__container:nth-child(2),
  .footer-links__container:nth-child(3),
  .footer-links__container-icons{
    display: none;
  }
}

/*                media                   */
@media (max-width: 1023px){
  .filter-list{
      display: none;
  }

  .header {
    margin-top: 0px !important;
    display: block;
  }
  .main-container{
    padding: 20px;
  }
  .header__logo {
    display: none;
  }
  .header__logo_mobile {
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;
  }
  .header__item {
    display: list-item;
  }
  .header__phone {
    position: absolute;
    display: block;
    width: 60vw;
    font-size: 16px;
    top: -25px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .header__item-like{
    display: none;
  }
  .header__item-like_mobile{
    display: block;
  }
  .header__burger {
    width: 36px;
    height: 21px;
    position: absolute;
    top: 20px;
    right: 16px;
  }
  .header__burger span {
    position: absolute;
    top: 10px;
    left: 12px;
    width: 20px;
    height: 1px;
    background-color: var(--golden);
  }
  .header__burger span::after,
  .header__burger span::before {
    content: '';
    position: relative;
    left: -8px;
    display: block;
    width: 28px;
    height: 2px;
    background-color: var(--golden);
    transition: all .15s ease-in-out;
  }
  .header__burger span::before {
    top: -7px;
  }
  .header__burger span::after {
    top: 4px;
  }

  .header__burger_active span {
    background: rgba(0,0,0, 0);
    transition: all .15s ease-in-out;
  }
  .header__burger_active span::before {
    top: 2px;
    transform: rotate(45deg);
  }
  .header__burger_active span::after {
    top: 0px;
    transform: rotate(-45deg);
  }

  .header {
    display: block;
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: var(--dark);
    transition: all .25s ease-in-out;
    z-index: 40;
    overflow: hidden;
  }
  .header__phone{
    display: none;
  }
  .header__dropdown_active{
    width: 100%;
    height: 100vh;
  }
  .header__dropdown_active .header__phone{
    display: block;
  }
  .header__dropdown_active .header__logo_mobile {
    display: none;
  }

  .header__links {
    position: relative;
    display: block;
    top: 20px;
    width: 100%;
    text-align: center;
    font-size: 26px;
    padding-top: 40px;
  }

  .lock{
    overflow: hidden !important;
  }
  .footer{
    padding-top: 13px;
  }
  .footer__img {
    width: 37px;
    height: 26px;
    margin-bottom: 0px;
  }
  .footer__text{
    font-size: 10px;
  }
}

@media (min-width: 768px) and (max-width: 1023px){
  .header__logo-image {
    width: 78px;
    height: 56px;
  }
  .header__phone,
  .header__logo_mobile{
    display: block;
  }
  .header__logo_mobile{
    left: -10px;
    top: -5px;
  }
  .header__logo_mobile .header__logo-image{
    height: 70px;
    width: 100%;
  }
  .dropdown__links{
    font-size: 36px;
  }
  .dropdown__links {
    top: 20px
  }
  .dropdown__links .header__item {
    margin-bottom: 40px;
  }
  .header__phone {
    font-size: 26px;
  }
  .main-background {
    top: 360px;
  }
  .main-header{
    margin-bottom: 80px;
  }
  .main-header__title{
    margin-top: 120px;
  }

  .filter-body{
    width: 90%;
    padding: 2% 5%;
    display: grid;
    grid-template-columns: repeat(6, minmax(16.66%, auto));
    row-gap: 10px;
    column-gap: 10px;
    margin: 0 auto 80px auto;
  }
  .filter__button-radius{
    grid-column: 1/-1;
  }
  .filter__btn,
  .filter-body button{
    width: 100% !important;
  }
  .select-btn{
    grid-column: 1/-1;
  }
}
/* ----------------------------- general! ----------------------------- */

/* ----------------------------- house ----------------------------- */

.house-background {
  position: absolute;
  width: 100%;
  display: block;
  margin-left: auto;
}
.house-background__image{
  width: 100%;
  max-width: 1440px;
  min-width: 768px;
  display: block;
  margin: 0 auto;
  position: relative;
  top: -350px;
}
.house-header {
  height: 500px;
  color: #ffe9bd;
  text-align: center;
  margin-top: 190px;
}
.house-header__title {
  margin-bottom: 155px;
}
.house-header__subtitle {
  font-size: 14px;
}
.house-header__after {
  margin-bottom: 190px;
  height: 40px;
  align-items: center;
}
.house-header__item {
  color: #99a1aa;
  font-size: 12px;
  vertical-align: middle;
}
.house-header__item_left {
  margin-right: 40px;
}
.house-header__link {
  margin: 0 auto;
}

.house-info {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}
.house-info__images {
  max-width: 555px;
  display: flex;
  flex-wrap: wrap;
}
.house-info__images .slick-track{
  position: relative;
  left: -0px;
}
.house-info__images .slick-dots{
  width: auto;
  top: 0px;
}
.house-info__block_1 {
  width: 555px;
  height: 190px;
  overflow: hidden;
  margin-bottom:30px;
}
.house-info__block_2 {
  width: 320px;
  overflow: hidden;
  margin-right: 30px;
}
.house-info__block_3 {
  width: 205px;
  overflow: hidden;
}
.house-info__image {
  width: 100%;
  height: 190px;
}
.house-info__title {
  max-width: 400px;
  font-size: 26px;
}
.house-info__details {
  font-size: 14px;
}
.house-info__subtitle {
  font-size: 12px;
  margin-right: 20px;
  margin-bottom: 70px;
}
.house-info__item {
  margin: 10px 0;
}

.house-map {
  width: 100%;
  height: 500px;
  text-align: center;
  border: 1px solid var(--golden);
  margin: 180px 0;
  overflow: hidden;
}
.house-map__title {
  margin: 40px 0;
}
.house-flats {
  text-align: center;
}
.house-flats__items {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-weight: 100;
}
.house-flats__info {
  border: 1px solid var(--golden);
  margin: 20px;
  padding: 20px 5px 5px 5px;
  height: 250px;
  width: 200px;
}
.house-flats__rooms {
  margin-bottom: 20px;
}
.house-flats__img {
  height: 90px;
  width: 90px;
  color: var(--golden);
  filter: sepia(100%);
}
.house-flats__info-upper {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin: 30px 0 10px 0;
}
.house-flats__end-price {
  font-size: 12px;
  text-align: right;
}
.house-flats__link {
  display: inline-block;
  width: 200px;
}
@media (max-width: 994px) {
  .house-info__images {
    max-width: 555px;
    display: flex;
    flex-wrap: wrap;
  }
  .house-info {
    justify-content: center;
  }
  .house-info__title {
    margin-top: 200px;
    text-align: center;
  }
  .house-info__subtitle {
    margin-right: 0;
    margin-bottom: 100px;
  }
  .slick-track{
    display: flex;
    position: relative;
    left: 40px;
  }
  .house-info__images .slick-track{
    width: 1200px !important;
  }
  .house-info__image {
    width: 90vw;
  }
}
@media (max-width: 595px) {
  .house-info__images {
    width: 100%;
    display: block;
    margin: 0 auto;
  }
  .house-info__block_1 {
    width: 100%;
    margin-bottom: 30px;
  }
  .house-info__block_2 {
    width: 100%;
    margin-bottom: 30px;
  }
  .house-info__block_3 {
    width: 100%;
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .house-header{
    height: 450px;
  }
  .house-header__after {
    margin-bottom: 40px;
  }

  .house-info__title{
    margin-top: 60px;
  }
  .house-header__link {
    position: absolute;
    width: calc(100% - 40px);
    margin: 0 20px 0 auto;
  }
  .house-header__item {
    margin-top: 80px;
    display: inline-block;
  }
  .house-background__image{
    top: -100px;
    width: 1000px;
    left: -150px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .house-background__image{
    top: -130px;
    width: 1000px;
    left: -50px;
  }
}

/* ----------------------------- house! ----------------------------- */

/* ----------------------------- completed ----------------------------- */

.completed__title {
  margin: 160px 0 50px 0;
}
.completed__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 200px;
}

/* ----------------------------- completed! ----------------------------- */

/* ----------------------------- main ----------------------------- */

.main-background{
  position: absolute;
  width: 100%;
  display: block;
  margin-left: auto;
  top: 360px;
}
.main-background__image{
  width: 100%;
  max-width: 1440px;
  min-width: 768px;
  display: block;
  margin: 0 auto;
  position: relative;
  top: -300px;
}
.main-header{
  text-align: center;
  margin-bottom: 207px;
}
.main-header__title{
  margin-bottom: 40px;
  font-size: 60px;
  margin-top: 207px;
  font-weight: 300;
  color: var(--golden);
}

.main-houses{
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 30px;
  justify-content: space-between;
}
.main-houses__house{
  z-index: 1;
  width: 100%;
}
.main-houses__img_block {
    position: relative;
    width: 110%;
    height: 190px;
}
.main-houses__img {
    width: 300px;
    height: 190px;
    filter: brightness(0.85);
}
.main-houses__house:hover .main-houses__img_block::after{
  content: '';
  display: block;
  width: 100%;
  height: 110%;
  position: absolute;
  top: -10px;
  left: -20px;
  background-image: url(./../icons/background_3.svg);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
}
.main-houses__info{
  font-size: 16px;
  display: grid;
  justify-content: center;
}
.main-houses__info small{
  display: flex;
  justify-content: center;
}
.info-house__address{
  font-size: 12px;
  color: var(--muted);
}

.house-background__pen{
  display: none;
  position: absolute !important;
  left: 0px;
  top: 0px;
  width: 100px;
  height: 100px;
  background-image: url('./../icons/background_1.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

.main-payments{
  margin: 0px auto;
  margin-top: 180px;
}
.var {
  width: 100%;
}
.main-payment__row{
  width: 60%;
  margin: 60px auto 0 auto;
  display: flex;
  justify-content: space-between;
}
.main-payment__row .main-payment__column{
  cursor: pointer;
}
.main-payment__row-slider{
  display: none !important;
}
.main-payment__column{
  width: 205px;
  height: 280px;
}
.main-payment__info{
  overflow: hidden;
  height: 220px;
  border: 1px solid var(--golden);
  margin-bottom: 25px;
  text-align: center;
}
.main-payment__title{
  display: block;
  margin-top: 25px;
}
.main-payment__first{
  margin-top: 30px;
}
.main-payment__second{
  margin-top: 40px;
}
.main-payment__third{
  margin-top: 28px;
  width: 205px;
}
.main-payment__button{
  width: 100%;
  height: 35px;
  padding: 0px;
}

.main-action{
  height: 200px;
  margin-top: 180px;
  margin-bottom: 180px;
  padding-top: 20px;
  position: relative;
  overflow: hidden;

  border: 1px solid var(--golden);
  text-align: center;
}
.main-action action{
  display: block;
}
.main-action__info{
  display: block;
  margin: 20px 0 10px 0;
}
.main-action__image{
  position: absolute;
  top: 37px;
}
.main-action__left-house{
  left: 0px;
}
.main-action__right-house{
  right: 0px;
}


.slick-slide {
  margin-right: 20px;
}

.main-news{
  margin-bottom: 120px;
}
.main-news__row{
  display: flex;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 40px;
}

.main-news__item{
  display: flex !important;
  flex-direction: column;
  width: 205px;
  height: 163px !important;
  border: 1px solid var(--golden);
  margin: 0 10px;
}
.main-news__index{
  text-align: left;
  margin-left: 10px;
  margin-top: 10px;
}
.main-news__title{
  width: 90%;
  margin: auto;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden
}
.main-news__link{
  text-align: left;
  margin-left: 10px;
  margin-bottom: 10px;
  color: var(--golden) !important;
}
.main-news__index-right{
  opacity: .5;
}
.main-news__all{
  width: 205px;
  height: 35px;
}
@media (max-height: 900px) and (min-width: 767px) {
  .main-header {
  margin-bottom: 160px;
  }
  .main-header__title{
    margin-top: 170px;
}
}
@media (max-height: 800px) and (min-width: 767px) {
  .main-header{
  margin-bottom: 75px;
  }
  .main-header__title{
    margin-top: 75px;
  }
}
@media (max-width: 767px){
  .main-header__title{
    font-size: 26px;
    width: 90%;
    margin: 120px auto 40px auto;
  }
  .main-background{
    top: 350px;
    left: -80px;
  }

  .main-houses{
    flex-wrap: wrap;
  }
  .main-houses__house{
    margin: 0 auto;
    margin-bottom: 60px;
    width: 90%;
  }
  .main-houses__img{
    height: 150px !important;
  }
  .projects__item{
    margin-bottom: 40px;
  }

  .main-payments{
    margin-top: 0px;
  }
  .main-payment__row{
    display: none;
  }
  .main-payment__row-slider{
    display: block !important;
    position: relative;
    /* left: -40px; */
  }
  .main-payment__row-slider .slick-list{
    width: 100vw;
  }
  .main-payment__column {
    width: 255px;
  }


  .title{
    font-size: 20px;
  }

  .main-action {
    width: 90%;
    height: 270px;
    margin: 110px auto;
  }
  .main-action__info{
    font-size: 14px;
  }
  .main-action__right-house{
    position: absolute;
    top: auto;
    left: unset;
  }
  .main-action__left-house{
    position: relative;
    top: 0px;
    left: 5vw;
    transform: scale(1.2);
    width: 110%;
  }
  .main-news__row {
    margin-left: 10%;
    width: 1140px;
  }
}
@media (min-width: 768px) and (max-width: 1023px){
  .main-houses{
    flex-wrap: wrap;
    width: 90vw;
    margin-left: 5vw;
    justify-content: space-evenly;
  }
  .main-houses__house{
    margin-bottom: 10px;
  }

  .main-payments {
    width: 90%;
    margin-top: 80px;
  }

  .main-action{
    height: 280px;
    width: 90%;
    margin: 80px auto 80px auto;
  }
  .main-action__image {
    top: 157px;
  }

  .main-news__row{
    flex-wrap: wrap;
    width: 90vw;
    margin-left: 5vw;
    justify-content: space-evenly;
  }
  .main-news__item{
    margin-bottom: 20px;
  }
}
@media (max-width: 1023px){
  .main-houses{
    display: flex;
  }
  .main-houses__img_block{
    width: 100%;
  }
  .main-houses__img{
    height: 100%;
  }
  .main-houses__img_block::after{
    display: none !important;
  }
}
/* ----------------------------- main! ----------------------------- */

/* ----------------------------- flat ----------------------------- */

.table-header{
  list-style: none;
}

.table-header__item{
  font-size: 16px;
}

.small{
  font-size: 10px;
  padding-bottom: 10px;
}




.sale_img{
  top: 0;
}


.flat-similar__block{
  display:flex;
  justify-content: space-around;
  margin-top: 60px;
}

.flat-similar__item{
  border: 1px solid var(--golden);
  width: 270px;
  height: 300px;
}

.flat-similar__title{
  font-size: 16px;
  text-align: center;
  padding-top: 25px;
}

.flat-similar__subtitle-info{
  font-size: 14px;
  text-align: center;
}

.flat-similar__scheme-block{
  margin: 10px 0px 15px 0px ;
}

.flat-similar__scheme-block img{
  display: block;
  margin: auto;
}

.flat-simlar__table{
  display: inline-flex;
  flex-direction: column;
  list-style: none;
  font-size: 10px;
}

.flat-similar__price{
  padding-top: 15px;
  text-align: center;
}

.flat-muted {
  display: flex;
  justify-content: space-between;
  margin: 100px 0 150px 0;
}

.flat-info__table{
  display: flex;
  justify-content: space-between;
}
.flat-info__main {
    display: flex;
    justify-content: center;
    margin: 90px 0 0 0;
}
.flat-info__main{
  display: flex;
  justify-content: center;
  margin: 90px 0 0 0;
}

.flat-info__scheme-block{
  display: inline-block;
}

.flat-info__body{
   display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 90px;

}

.flat-info__small-text{
  display: inline-block;
  font-size: 10px;
  margin: 0 0 20px 0;
}

.flat-info__price{
  display: flex;
  align-items: center;
  font-size: 36px;
}
.flat-info__liked {
  margin: 0 0 0 20px;
  width: 36px;
}

.flat-info__liked svg {

}

.flat-info__advs-block{
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-size: 14px;
  font-weight: 300;
  margin: 100px 0 0 0;
}

.flat-info__adv{
  width: 120px;
}
.flat-info__image_mobile{
  display: none;
}
.flact-action__title_mobile{
  display: none;
}

.flat-similar__block_mobile{
  display: none;
}

@media (max-width: 767px){
  .flat-muted {
    display: none;
  }
  .flat-info{
    display: grid;
  }

  .flat-info__level-block{
    display: none;
  }

  .flat-info__body {
    margin-left: 0px;
  }

  .flat-info__main{
    display: grid;
  }
  .flat-info__body {
    margin-top: 70px;
  }

  .flat-info__btn{
    margin-bottom: 100px;
  }
  .flat-info__price{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 35px;
  }
  .flat-info__btn{
    width: 100%;
  }

  .flat-info__table{
    order: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    margin-bottom: 100px;
  }

  .flat-info__image_mobile{
    display: block;
    order:3;
  }
  .flat-info__image_mobile span{
    font-size: 12px;
  }
  .flat-info__image_mobile img{
    width: 100%;
  }
  .table-header{
    padding-left: 0px;
    list-style-type: none;
  }

  .table-header .small{
    padding-bottom: 0px;
  }

  .flat-info__footer{
    order: 4;
  }
  .flat-info__advs-block{
    display: grid;
    padding-left: 0px;
    justify-content: center;
    font-size: 16px;
  }
  .flat-info__adv{
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }

  .flat-action{
    margin-bottom: 175px;
  }
  .flact-action__title{
    content: '123';
  }
  .flat-action__btn {
    margin-top: 20px !important;
  }
  .main-action__left-house{
    display: none;
  }
  .main-action__right-house{
    display: block;
  }
  .flact-action__title{
    display: none;
  }
  .flact-action__title_mobile{
    display: block;
  }
  .flat-action .sale_img {
    top: 80px;
    width: 100%;
  }

  .flat-similar__block_mobile{
    display: grid !important;
  }
  .flat-similar__block_mobile .slick-dots {
    width: 100vw;
  }
  .flat-similar__item{
    margin-right: 40px;
  }


  .docs{
    margin: 125px 0;
  }
  .docs .docs__title{
    font-size: 26px;
  }
  .docs .docs__subtitle{
    margin: 20px auto 0 auto;
    width: 60%;
  }
    .docs__accordion-body {
    height: 100%;
    max-height: 0px;
    padding: 0;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
  }
  .docs__docs-title {
    margin: 30px 65px 25px 65px;
  }
  .docs__docs-subtitle {
    margin: 0px 65px 20px 90px;
  }
}
@media (min-width: 768px) and (max-width: 1023px){
  .flat-info__table {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 30px;
  }
  .table-header__item{
    width: 100%;
  }
  .flat-info__advs-block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
  }
  .flat-info__adv{
    width: 100%;
  }

  .flat-similar__block {
    flex-wrap: wrap;
  }

  .flat-similar__item:last-child{
    margin-top: 80px;
  }
}
/* ----------------------------- flat! ----------------------------- */

/* ----------------------------- favourite ----------------------------- */

.favourite__title{
  margin: 130px 0 80px 0;

}
.favorites{
  display: grid;
  grid-template-columns: 2fr 320px;
  gap: 30px;
  margin-bottom: 120px;
}
.favorites-list{
  display: grid;
  grid-row-gap: 30px;
}
.favorites-list__item{
  position: relative;
  display: flex;
  border: 1px solid var(--golden);
  padding: 32px 20px;
  height: 180px;
}
.favorite-item__scheme{
  margin-right: 60px;
}
.favorite-item__info{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 30px;
  margin-right: 60px;
}
.favorite-info{
  display: grid;
}
.favorite-info__header{
  font-size: 8px;
}.favorite-info__body{
  font-size: 14px;
  display: inline;
  padding: 0;
  margin: 0;
}

.favorite-item__payment{
  display: grid;
}
.favorite-item__payment-price{
  font-size: 36px;
  text-align: center;
}
.favorite-item__payment-button{
  height: 35px;
}
.favorite-item__delete{
  position: absolute;
  top: 10px;
  right: 15px;
}

.favourite-action{
  border: 1px solid var(--golden);
  height: 600px;
  overflow: hidden;
  position: relative;
  width: 100%;
  max-width: 320px;
}
.favourite-action__title{
  font-size: 20px;
  margin-top: 20px;
}
.favourite-action__subtitle{
  display: flex;
  margin: 0 auto;
  width: 86%;
  text-align: center;
  font-size: 14px;
}
.favourite-action__precent{
  margin-top: 70px;
}
.favourite-action__house{
  position: absolute;
  bottom: 0px;
}
.favorite-item__delete:hover{
  cursor: pointer;
}

@media (max-width: 1100px) {
  .favorites {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .favourite-action {
    margin-top: 30px;
  }
  .favorites-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

  }
  .favorite-item__payment-button {
    width: 200px;
    padding: 5px 10px;
  }
}
@media (max-width: 768px) {
  .favorite-info__header {
    display: none;
  }
  .favorite-item__info {
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: none;
    grid-row-gap: 0;
    margin-right: 10px;
  }
  .favorite-item__payment {
    text-align: center;

  }
  .favorite-item__payment-price {
    font-size: 16px;
    margin-top: 10px;
  }
  .favorite-item__scheme {
    width: 35px;
    height: 35px;
    margin: auto 10px auto 0;
  }
  .favorites-list__item {
    height: 90px;
    width: 100%;
    justify-content: space-between;
    padding: 20px 10px;
    margin-bottom: 60px;
  }
  .favorite-info__body {
    font-size: 12px;
    margin: auto 0;
  }
  .favorite-info::after {
    content: ', ';
    white-space: pre;
    margin: auto;
  }
  .favorite-info__price-square {
    display: none !important;
  }
  .favorite-info__price-floor::before {
    content: 'этаж ';
    font-size: 12px;
    margin: auto 0;
    white-space: pre;
  }
  .favorite-info {
    display: flex;
  }
  .favourite-action__house {
    display: none;
  }
  .favourite-action {
    height: 325px;
  }
  .favourite-action__precent {
    margin-top: 0;
  }
  .favorite-item__delete {
    top: 0;
    right: 5px;
  }
  .favorite-item__payment-price {
    min-width: 85px;
  }
  .favorite-item__payment-button {
    position: absolute;
    top: 100px;
    right: 0;
    width: 100%;
  }
  .favorite-info__price-floor::after {
    content: '';
  }
  .favourite__title {
    margin: 100px 0 50px 0;
  }
}
@media (min-width: 500px) and (max-width: 768px) {
  .favorite-info__body {
    font-size: 17px;
  }
  .favorite-info__price-floor::before {
    font-size: 17px;
  }
  .favorite-item__payment-price {
    font-size: 20px;
  }
  .favorite-item__scheme {
    width: 50px;
    height: 50px;
    margin: auto 10px auto 0;
  }
}

/* ----------------------------- favourite!  ----------------------------- */

/* ----------------------------- all-news ----------------------------- */

.all-news__title {
  margin: 150px 0 75px 0;
}
.all-news__post-item {
  color: var(--golden);
  text-decoration: none;
}
.all-news__post-block {
  height: 250px;
  margin: 75px 0;
  padding: 30px;
}
.all-news__post-body {
  height: 75px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.all-news__post-block:hover {
  outline: 1px solid var(--golden);
}
.all-news__post-item:hover {
  color: var(--golden);
}
.all-news__post-title {
  text-align: center;
  margin-bottom: 30px;
}
.all-news__post-date {
  margin-bottom: 20px;
}

/* ----------------------------- all-news! ----------------------------- */

/* ----------------------------- one-news ----------------------------- */

.one-news {
  padding: 20px;
  min-height: 720px;
}
.one-news__title {
  margin-top: 150px;
}
.one-news__content {
  margin: 20px 0 150px 0;
}
.one-news__muted {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}

/* ----------------------------- one-news! ----------------------------- */

/* ----------------------------- contacts ----------------------------- */

.contacts-title{
  margin-top: 130px;
  text-align: center;
}
.contacts-body{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
  opacity: 1;
}
.contacts-body__address{
  font-size: 20px;
  width: 350px;
}
.contacts-body__info{
  padding-top:15px;

}
.contacts-body__phones{
  display: flex;
  flex-direction: column;
}
.contacts-body__phones a{
  color: var(--golden);
  text-decoration: none;
}
.contacts-body__schedule{
  margin-top: 50px;
}
.contacts-body__img-block{
  border: 3px solid var(--golden);
}
.contacts-body{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around !important;
  margin-top: 40px;
}
.contacts-body__address {
  font-size: 20px;
  width: 350px;
}

.contacts-body__info{
  padding-top:15px;

}

.contacts-body__phone{
  margin-top:15px;
}

.contacts-body__schedule{
  margin-top: 50px;
}
.ymaps-2-1-78-map-copyrights-promo,
.ymaps-2-1-78-controls__control,
.ymaps-2-1-78-copyright__wrap{
  display: none;
}
.loading {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.loading--full-height {
  display: none;
  align-items: center;
  height: 100%;
}

.loading::after {
  content: "";
  width: 50px;
  height: 50px;
  border: 10px solid var(--dark);
  border-top-color: var(--golden);
  border-radius: 50%;
  transform: rotate(0.16turn);
  animation: loading 1s ease infinite;
}

@keyframes loading {
  /* Safari support */
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}
@media (max-width: 992px) {
  .contacts-body {
    text-align: center;
    display: block;
    margin-top: 50px;
    width: 100%;
  }
  .contacts-body__img-block {
    margin: 100px auto 50px auto;
    max-width: 700px !important;
  }
  .contacts-body__address {
    width: 100%;
  }
  .contats-body__image {
    width: 100%;
  }
}
/* ----------------------------- contacts! ----------------------------- */

/* ----------------------------- select-flats ----------------------------- */
.select-flats{
  margin-bottom: 80px;
}
.select-flats__title{
  margin-bottom: 60px;
}
.select-flats__breadcrumbs {
  display: flex;
  justify-content: space-between;
  margin: 60px 0 85px 0;
}

.select-flats__floor {
    display: flex;
    margin-bottom: 100px;
}
.select-flats__floor-img {
    position: relative;
    left: -150px;
}
.select-flats__floor-number {
    position: relative;
    padding-top: 200px;
    right: 225px;
    display: flex;
}
.select-flats__floor-word {
    margin-top: 65px;
    margin-right: 20px;
    font-size: 20px;
}
.select-flats__number_large {
    font-size: 120px;
}
.select-flats__number_small {
    font-size: 40px;
    margin-top: 30px;
}

.flats-table th {
  font-weight: normal;
}
.flats-body__row,
.flats-header__row,
.flats-body__row td,
.flats-header__row th{
  border-style: none;
}
.flats-body__row:hover{
  outline: 1px solid var(--golden);
}
.flats-column__like img{
  cursor: pointer;
}

tr{
  padding: 200 0px;
}
td, th{
  color: #FFE9BD;
  vertical-align: middle;
  text-align: center;
}
.flats-column__sheme img{
  width: 51px;
  height: 53px;
  margin: 10px 0 10px 0;
}
.flats-column__field-for-mobile{
  display: none;
}

.flats-pagination a {
  width: 34px;
  padding: 5px 10px;
  text-align: center;
  margin-right: 10px;
}
.flats-pagination{
  justify-content: center;
  display: flex;
}
@media (max-width: 767px) {
  .select-flats__breadcrumbs {
    display: none;
  }
  .select-flats__floor{
    display: none;
  }

  .flats-body__row{
    vertical-align: middle;
  }
  .flats-column__field-for-mobile {
    display: table-cell;
  }
  .flats-column__full-price{
    font-size: 16px;
  }
}
@media (max-width: 767px){
  .flats-column__rooms,
  .flats-column__type,
  .flats-column__corps,
  .flats-column__floor,
  .flats-column__square,
  .flats-column__keys,
  .flats-column__square-price,
  .flats-column__like,
  .flats-header__row{
    display: none;
  }
  td{
    font-size: 12px;
  }
  .flats-column__full-price{
    min-width: 130px;
  }
}
@media (min-width: 450px) and (max-width: 767px){
  td{
    font-size: 16px;
  }
}
@media (min-width: 768px) and (max-width: 1024px){
  td{
    font-size: 12px;
  }
  .flats-header__row th{
    font-size: 14px;
    font-weight: 600;
  }
  .flats-column__rooms{
    min-width: 0px;
    table-layout: fixed;
    width: 40px;
    padding: 0px !important;
  }
}

/* ----------------------------- select-flats! ----------------------------- */

/* ----------------------------- projects ----------------------------- */
.projects {
    margin: 80px auto 0 auto;
    padding: 20px;
}
.projects-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 50px 0 20px 0;
  flex-wrap: wrap;
}
.projects__item {
  cursor: pointer;
  text-decoration: none;
  color: var(--golden);
}
.projects__item:hover {
  color: var(--golden);
}
.projects__item:nth-child(7n-1),
.projects__item:nth-child(7n)
{
  width: 49%;
}


.projects-block__our .projects__item .main-houses__img,
.projects-block__completed .projects__item .main-houses__img{
  width: 100%;
}

.projects-block__our {
  margin: 0 auto 100px auto;
}

.projects__item .projects-our__img{
  width: 100%;
  height: 330px;
  object-fit: cover;
  object-position: center;
}
.projects__item{
  margin-bottom: 20px;
}
.projects__item-big{
  width: 49%;
}

.projects-btn {
  margin: 50px auto 0 auto;
}
.projects-info {
  font-size: 12px;
  margin: 10px 0;
}
.projects-our__info{
  font-size: 14px;
}
.projects-our__price{
  font-size: 18px !important;
  font-style: bold;
}

.projects-price {
  font-size: 14px;
}

.completed-projects__btn-all{
  display: flex;
  margin: 0 auto 160px auto;
  width: 170px;
}
.projects-our__title {
  margin-bottom: 50px;
}
.projects-completed__link{
  display: flex;
  margin: 0 auto 100px auto;
  width: 170px;
}

@media (max-width: 540px){
  .projects-block__completed{
    display: none;
  }

  .projects-block{
    display: flex;
    flex-direction: column;
  }
  .projects__item{
    width: 100% !important;
    position: relative;
  }
  .projects-block__our .projects__item:nth-child(2) {
    position: relative;
    left: 0px;
  }
  .projects-block__completed .projects__item:nth-child(7) {
    position: relative;
    left: 0%;
  }
}
@media (min-width: 541px) and (max-width: 767px){
  .projects-block{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .projects__item{
    width: 100% !important;
    position: relative;
  }

  .projects-block__our .projects__item:nth-child(1) {
    grid-column: 1/3;
  }
  .projects-block__our .projects__item:nth-child(2) {
    grid-column: 1/2;
    width: 100%;
    position: relative;
    left: 0%;
  }

  .projects-block__completed .projects__item:nth-child(7) {
    grid-column: 1/3;
  }
  .projects-block__completed .projects__item:nth-child(6) {
    grid-column: 2/3;
    width: 100%;
    position: relative;
    left: 0%;
  }


  .projects-block__completed .projects__item:nth-child(7) {
    position: relative;
    left: 0%;
  }
}
@media (min-width: 768px) and (max-width: 1023px){
  .projects-block{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .projects-block__our .projects__item:nth-child(1) {
    grid-column: 1/3;
    width: 100%;
  }
  .projects-block__our .projects__item:nth-child(2) {
    grid-column: 1/2;
    width: 100%;
    left: 0%;
  }


  .projects-block__completed .projects__item:nth-child(6) {
    grid-column: 2/3;
    width: 100%;
  }
  .projects-block__completed .projects__item:nth-child(7) {
    grid-column: 1/3;
    width: 100%;
    left: 0%;
  }
}
@media (min-width: 1024px) and (max-width: 1150px){
  .projects-block{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .projects-block__our .projects__item:nth-child(1),
  .projects-block__our .projects__item:nth-child(3){
    grid-column: 1/2;
    width: 153%;
  }
  .projects-block__our .projects__item:nth-child(2),
  .projects-block__our .projects__item:nth-child(4){
    grid-column: 3/4;
    width: 153%;
    position: relative;
    left: -53%;
  }

  .projects-block__completed .projects__item:nth-child(4),
  .projects-block__completed .projects__item:nth-child(6) {
    grid-column: 1/2;
    width: 153%;
  }
  .projects-block__completed .projects__item:nth-child(5),
  .projects-block__completed .projects__item:nth-child(7) {
    grid-column: 3/4;
    width: 153%;
    position: relative;
    left: 53%;
  }
}
/* ----------------------------- projects! ----------------------------- */

/* ----------------------------- about ----------------------------- */

.about__title{
  margin-top: 120px;
}
.about-tabs {
  max-width: 910px;
  margin: 80px auto;
}
.about-tabs__item {
  padding: 15px 50px;
  border: 1px solid var(--golden);
  text-align: center;
  justify-content: center;
  width: 205px;
  height: 140px;
}
.about-tabs__item:hover {
  cursor: pointer;
  color: var(--dark);
  background-color: var(--golden);
}
.about-tabs__title {
  margin-top: 10px;
}
.about-tabs__number {
  display: flex;
  justify-content: center;
}
.about-tabs__number_right {
  margin-top: 8px;
}
.about-tabs__number_left {
  font-size: 36px;
}
.about-content {
  margin: 140px 0;
}
.builder__content {
  text-align: center;
}
.builder__title {
  margin-top: 50px;
}
.buidler__text{
  max-width: 570px;
  margin: 0 auto;
  font-size: 14px;
}
.builder__image {
  width: 100%;
}
.company__header_left {
  max-width: 675px;
  text-align: center;
  margin: 0 auto;
}
.company__title {
  font-size: 40px;
  margin-top: 15px;
}
.company__content {
  margin-top: 45px;
  font-size: 15px;
}
.company__image {
  width: 100%;
}
.company__info{
  margin: 80px auto 0 auto;
  max-width: 675px;
  flex-wrap: wrap;
}
.company__info-item{
  display: flex;
  flex-direction: column;

}
.company__number {
  font-size: 120px;
  max-height: 150px;

  color: rgba(0,0,0, 0);
  letter-spacing: 2px;
  -webkit-text-stroke: 1px var(--golden);
  text-stroke: 1px var(--golden);
}
.company__text {
  display: block;
  text-align: center;
  margin: 0 auto;
}

.docs__accordion-item {
  margin-bottom: 15px;
}
.docs__accordion-head {
  background-color: var(--dark);
  color: var(--golden);
  cursor: pointer;
  padding: 25px 35px;
  width: 100%;
  border: 1px solid var(--golden);
  text-align: left;
  outline: none;
}
.docs__accordion-body {
  text-align: left;
  background-color: var(--dark);
  color: var(--golden);
  padding: 30px 65px 25px 65px;
  border: 1px solid rgba(255, 233, 189, 0.5);
}
.docs__docs-title {
  display: block;
  margin-bottom: 15px;
}
.docs__docs-subtitle {
  display: block;
  margin: 10px 0 10px 25px;
}
.about-news {
  text-align: center;
}
.about-news__row{
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.about-news__index_right {
  opacity: 0.5;
}
.about-news__link {
  margin: auto 0;
  color: white;
}
.about-news__link:hover {
  color: whitesmoke;
}
.main-news__page-link:hover {
    color: whitesmoke;
}
.about-news__title {
  display: block;
  margin: 25px 0 10px 0;
  height: 50px;
  width: 230px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.main-news__page-link {
  font-size: 14px;
  color: white;
}
.about-news {
  margin-bottom: 200px;
}
.about-images__block {
  margin: 140px 0 180px 0;
  display: grid;
  grid-template-columns: 1fr minmax(320px, 2fr);
  gap: 30px;
}
.about-images__img-block_left {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 30px;
}
.about-images__img_left {
  width: 100%;
  height: 215px;
}
.about-images__img_right {
  width: 100%;
  height: 460px;
}
.requisites {
  display: flex;
  justify-content: center;
}
@media (max-width: 767px) {
  .about__title {
    margin-top: 60px;
  }
  .about-tabs{
    display: grid;
    margin: 40px auto;
  }
  .about-tabs .slick-dots{
    width: 90vw;
    top: 10px;
  }
  .about-tabs .slick-track{
    width: 900px !important;
  }

  .about-images__block{
    margin: 60px 0;
  }

  .company__info {
    margin: 40px auto 0 auto;
  }

  .about-content{
    margin: 60px 0 0 0;
  }

  .company__info-item {
    display: block;
    width: 100%;
    text-align: center;
  }
  .diplomes__image_1 {
    width: 90%;
  }
  .about-images__block {
    grid-template-columns: 1fr;
  }
  .docs__accordion-body {
    padding: 10px;
  }
  .docs__docs-title {
    margin: 0;
  }
}
/* ----------------------------- about! ----------------------------- */

/* ----------------------------- purchase ----------------------------- */

.purchase-combination-flats{
  margin-bottom: 90px;
}
.purchase-combination__title{
  margin-bottom: 60px;
}

.purchase-combination__row{
  display: grid;
  grid-template-columns: minmax(558px, 1fr) 1fr;
  gap: 75px;
}

.purchase-combination__img-block img{
  width: 100%;
  height: 205px;
}
.purchase-combination__info{
  font-size: 12px;
}
.purchase-background {
  position: absolute;
  width: 100%;
  display: block;
  margin-left: auto;
}
.purchase-background__image{
  width: 100%;
  max-width: 1440px;
  min-width: 768px;
  display: block;
  margin: 0 auto;
  position: relative;
  top: -120px;
}
.purchase-payments {
  margin-bottom: 60px;
}
.purchase-header {
  margin: 260px auto;
}
.purchase-slider__slide {
  text-align: center;
  justify-content: center;
}
.purchase-payments__title {
  margin-bottom: 80px;
}
.purchase-payment__row{
  width: 80% !important;
}
.purchase-ipoteka__subtitle {
  text-align: center;
}
.purchase-ipoteka__items-block {
  margin: 60px auto 160px auto;
  max-width: 920px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.purchase-ipoteka__item {
  border: 1px solid var(--golden);
  padding: 20px;
  text-align: center;
  height: 220px;
  width: 205px;
}
.purchase-ipoteka__item-subtitle {
  margin-top: 5px;
  font-size: 12px;
}
.purchase-ipoteka__number{
  font-weight: 600;
  font-size: 60px;

  color: rgba(0,0,0, 0);
  letter-spacing: 2px;
  -webkit-text-stroke: 1px var(--golden);
  text-stroke: 1px var(--golden);
}

.purchase-ipoteka__item:hover{
  cursor: pointer;
}
.purchase-ipoteka__item:hover .purchase-ipoteka__number{
  color: var(--golden);
}

.purchase-registration {
  margin-bottom: 150px;
}
.purchase-registration__block {
  border: 1px solid var(--golden);
  text-align: center;
  padding: 40px 0;
  position: relative;
}
.purchase-registration__title {
  margin-bottom: 30px;
}
.purchase-registration__img {
  position: absolute;
}
.purchase-registration__img_right{
  bottom: 0px;
  right: 0px;
}
.purchase-registration__img_left{
  bottom: 0px;
  left: 0px;
}

.purchase-calc__muted {
  margin: 60px 0;
}

.purchase-calc{
  margin-bottom: 160px;
}
.purchase-calc__body{
  display: flex;
  justify-content: space-between;
}
.purchase-calc__btns-block{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  height: 180px;
}
.purchase-calc__btn_small{
  font-size: 8px;
}
.purchase-calc__btn_first-payment{
  padding: 0px;
}
.purchase-calc__btn{
  height: 35px;
  width: 205px;
  padding: 8px 20px;
}

.purchase-calc__table-block{
  /* width: 45%; */
}
.purchase-table__column{
  min-width: 100px;
  padding: 10px 0;
}
.purchase-table__header-row{
  font-size: 8px;
}
.purchase-table__body{
  font-size: 14px;
}
.purchase-table__body-row:hover:after{
  content: '';
  position: absolute;
  width: 500px;
  height: 40px;
  left: 55%;
  background-image: url('../icons/background_4.svg');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.main-payment__column{
  height: auto;
}
.main-payment__info{
  /* margin-bottom: 0px; */
}
.main-payment__info:hover{
  color: var(--dark);
  background-color: var(--golden);
  cursor: pointer;
}
.main-payment__info:hover img{
  filter: invert(1);
}

.trade-in__subtitle{
  max-width: 400px;
  display: flex;
  text-align: center;
  margin: 0 auto;
}

.trade-in__step{
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 165px;
  width: 150px;
}
.step__number{
  font-size: 30px;
  font-weight: 1000;
  margin-bottom: 30px;
  color: rgba(0,0,0, 0);

  letter-spacing: 2px;
  -webkit-text-stroke: 1px var(--golden);
  text-stroke: 1px var(--golden);
}
.step__title{
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}
.step__subtitle{
  font-size: 12px;
  margin-bottom: 10px;
}

.trade-in__steps_up{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 90px;
}
.trade-in__steps_down{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top:80px;
}

.trade-in__footer{
  display: flex;
  max-width: 555px;
  margin: 80px auto 150px auto;
  text-align: center;
}

.trade-in__select{
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid var(--golden);
  height: 190px;
  margin-bottom: 140px;
}
.trade-in__select-title{
  margin-top: 25px;
  margin-bottom: 40px;
}
.trade-in__select-button{
  display: flex;
  margin: 0 auto;
  width: 264px;
  height: 35px;
}

.callback{
  width: 100%;
  padding: 60px 0 140px 0;
  text-align: center;
  background-color: #1E1E1E;
}
.callback-inputs {
  max-width: 950px;
  width: 950px;
  margin: 80px auto 0 auto;
}
.callback-inputs__row {
  margin-bottom: 55px;
}
.callback-inputs__item {
  background-color: #1E1E1E;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--golden);
  color: var(--golden);
  max-width: 400px;
  width: 400px;
}
.callback-inputs__item:focus {
  border-bottom: 1px solid white;
}
.callback-muted {
  margin-top: 20px;
}

@media (max-width: 992px) {
  .purchase-payment__row{
    width: 80% !important;
  }
  .purchase-ipoteka__items-block {
    justify-content: space-around;
  }
  .purchase-ipoteka__item {
    margin-bottom: 50px;
  }
  .purchase-registration__img {
    display: none;
  }
  .purchase-combination__row {
    grid-template-columns: 1fr;
    text-align: center;
    justify-content: center;
  }
  .purchase-combination__img-block img{
    width: 80%;
    height: 205px;
  }
}
@media (max-width: 550px) {
  .trade-in__steps,
  .trade-in__steps_up,
  .trade-in__steps_down {
    display: block;
    margin: 0 auto;
  }
  .trade-in__step{
    margin: 30px auto;
  }
}

/* ----------------------------- purchase! ----------------------------- */

/* ----------------------------- 404 ( not-found ) ----------------------------- */

.not-found {
  text-align: center;
  margin: 0 !important;
  padding: 200px 0 0 0;
  max-width: none;
}
.not-found__block {
  min-height: 700px;
  width: 100vw;
  z-index: 1;
}
.not-found__subtitle {
  position: relative;
  font-size: 20px;
  top: -50px;
}
.not-found__img {
  width: 100vw;
}
.not-found__bg {
  background-image: url(./../images/404-bg.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 50% 20%;
}
.not-found__select-btn {
  margin-top: 50px;
}

@media (max-width: 767px) {
.not-found__subtitle {
  position: relative;
  font-size: 12px;
  top: 0px;
}
.not-found__img {
  width: 100vw;
}
.not-found__block {
  min-height: 600px;
  width: 100%;
}
.not-found__bg {
  background-image: url(./../images/404-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 60% 20%;
}
.not-found__select-btn {
  display: inline-block;
  width: 90%;
  margin-top: 50px;
}
}

/* ----------------------------- 404! ( not-found! ) ----------------------------- */
